---
title: Creator Documentation
---

# Creator

The **CREATOR** user role is given to students in a class that is utilizing the VOCAT system.
The following portion of the documentation seeks to make the facets of this user role as direct and clear as possible.

* <a href="#login">First Steps/Login</a>
* <a href="#dashboard">Dashboard</a>
* <a href="#vid">Submitting New Media Assets</a>
* <a href="#youtube">YouTube and Vimeo</a>
<!--* <a href="#servers">Upload to VOCAT servers</a>-->
* <a href="#annotations">Annotations</a>
* <a href="#scores">Scores</a>
* <a href="#discussions">Discussions</a>

<p id="login"></p>

---

<p></p>

### First Steps/Login

 * Navigate in a browser to the URL app.vocat.io
 * Log in with Baruch email address and Active Directory password (same password used
 to log in to email, on-campus WiFi, and computer lab or classroom computers)

<img style="border:1px solid black;" src="content_assets/evaluator/login.png" height="97%" width="97%">

<a href="#">**Back to top**</a>

<p id="dashboard"></p>

---

<p></p>

### Dashboard

 * Creator should see initial greeting and a selection of courses in which the user has been enrolled.
 * Creator should see screenname and (optional) avatar in top right-hand corner of screen.

This is the first page arrived at after logging in. It displays an overview of the creator’s courses,
showing course titles, project submissions, and scores. It also provides thumbnail versions of the
user’s most recently added media assets.

<img style="border:1px solid black;" src="content_assets/raw_3_2/creator_dashboard.png" height="97%" width="97%">

<a href="#">**Back to top**</a>

<p id="vid"></p>

---

<p></p>

### Submitting New Media Assets

From the dashboard a creator can choose to specify a single class using the left-top
corner dropdown, or the creator can choose to remain on the dashboard where all class
assignments can be viewed. If the student has not yet submitted any media assets for a
 course project, there will appear on the dashboard a frame with a notice that
reads **Visit Submission Page to Upload Attachment**, signaling to the creator
that no media asset has been uploaded.

<!-- Double Check that above "Visit submission page" message is still consistant -->

<!--ADD FIRST VID IMAGE-->

<img style="border:1px solid black" src="content_assets/creator_3_2/creator_submissions.png" height="97%" width="97%">

From here the creator should click on the project title, or the  **Visit Submission Page to Upload Attachment** notice.
This action will take the user to a page with the media manager screen, which details the process of adding one of
the three allowable media asset types: image files, video files, and audio files.



<!--ADD SECOND VID IMAGE-->

<!--You should see an empty, light-gray media frame with a button in the center that
reads: **ADD A VIDEO TO THIS SUBMISSION**. Click this button.-->

With the media manager you can drag-and-drop files into the large area demarkated with the dotted rectangle, you can select
a media asset file from your computer's file manager by selecting the Add+ button next to "Select an audio, image, or video file", or
you can link a Vimeo/YouTube video by placing the videos URL.

<img style="border:1px solid black" src="content_assets/raw_3_2/media_manager.png" height="97%" width="97%">

*NOTE: The following instructions involve uploading a media asset from your local server (AKA Your computer).
<a href="record_upload.html#youtube">CLICK HERE</a> for YouTube and Vimeo instructions.*

1. Select your media asset by either dragging and dropping into dotted rectangle or selecting the file
through your file manager with the topmost Add+ button in the media manager.
2. Once you select the media asset file for upload, the upload process begins and you
will see a progress bar showing upload's progress. <font color="red">It is important that you do not
close the browser tab or go to another web page while this is happening. </font>
You may work in other tabs or other programs, though.
3. When the file is done uploading from your computer, you will be asked to name
your media asset.  When you have done this you will see a new blank thumbnail with
the message "Processing" next to it.  At this point you are free to exit the page.

<img style="border:1px solid black" src="content_assets/raw_3_2/upload_capture.png" height="97%" width="97%">

<img style="border:1px solid black" src="content_assets/raw_3_2/asset_naming.png" height="97%" width="97%">

<a href="#">**Back to top**</a>

<p id="youtube"></p>

---

<p></p>

### YouTube and Vimeo

Please visit our video documentation for instructions on uploading files to Vimeo and YouTube:
[Video Documentation](record_upload.html)

<a href="#">**Back to top**</a>

<!--
<p id="servers"></p>

---

<p></p>

### Upload to VOCAT servers

If the creator chooses to upload a video directly to VOCAT, it should be kept in mind that the video format must be **AVI, FLV, MP4,** or **MPEG-2**. Maximum size of a video must be less than 1MB. After clicking **UPLOAD A VIDEO** button you will be given the option to **DRAG AND DROP OR CLICK TO SELECT A VIDEO FILE**. A user can simply drag a video file into this box, and the uploading process will begin, or the creator can click the button that these options are written on, which will bring up a local file selection interface. You will have to wait for a moment as your video is transcoded, but after this process your video should be ready to view.

-->

<!--

The video thumbnail should go from looking like this:

To looking like this:

-->

<!--

<a href="#">**Back to top**</a>

<p id="annotations"></p>

-->

---

<p></p>

### Annotations

The annotation tool allows you to make specific comments about aspects of the
student’s media submission.  You can do the following with the annotation tool:

* Make a time stamped comment: This feature allows you to reference a specific point in a
media submission and comment on it.  When reviewing your comments, students can click them
and Vocat will open the specific part of the media submission that the comment relates to/contextualizes
* Use of Oval annotation tool: This tool allows you to place a yellow circle around anything in an image
submission, or on a video at a specific point in the video timeline.
* Use of the Draw annotation tool: This allows you to draw freeform on media submissions
* Use of the Select tool: This allows you to quickly move any freeform drawings or ovals around the
media submission canvas.

These tools work for all types of media assets, with limited availability of drawing tools for audio files.  While annotations
of images don't necessarily utilize timestamp functionality, you can use the drawing tools on multiple layers to make
separate points to a student.

When annotating video or audio, all you have to do is start typing for the timestamp functionality to be initiated.

<img style="border:1px solid black" src="content_assets/raw_3_2/annotated_video.png" height="97%" width="97%">

<img style="border:1px solid black" src="content_assets/raw_3_2/annotated_image.png" height="97%" width="97%">

<img style="border:1px solid black" src="content_assets/raw_3_2/annotated_audio.png" height="97%" width="97%">

<a href="#">**Back to top**</a>

<p id="scores"></p>

---

<p></p>

### Scores

The creator can examine scores given to them by their evaluator. a thermometer-style visualization
reports the percentage out of 100. If the creator clicks on this visualization more rubric detail
appears below, giving more clarity to the evaluator’s critique.

<img style="border:1px solid black" src="content_assets/creator/rubric.png" height="97%" width="97%">

<a href="#">**Back to top**</a>

<p id="discussions"></p>

---

<p></p>

### Discussions

Creators can also engage in a discussion section that supplements each submitted video. A textbox
appears under the DISCUSSIONS header. This allows for feedback and communication between
creator-evaluator and/or creator-creator.

<img style="border:1px solid black" src="content_assets/raw_3_2/discussion.png" height="97%" width="97%">

<a href="#">**Back to top**</a>
