---
title: Evaluator Documentation
---

# Evaluator

The **EVALUATOR** user role is given to the instructor of a class that is
utilizing the VOCAT system. The following portion of the documentation seeks to
make the facets of this user role as direct and clear as possible.

<p id="login"></p>

---

<p></p>

### First Steps/Login

Navigate in a browser to the URL **baruch.vocat.io**

Log in with your Baruch username and password (same password used to log in to
email, on-campus WiFi, and computer lab or classroom computers)

<img style="border:1px solid black;" src="content_assets/evaluator/login.png" >

<p id="dashboard"></p>

---

<p></p>

### Dashboard

This is the first page you will arrive at after logging in. It displays an
overview of your courses with submission and scoring data for each.

<img style="border:1px solid black" src="content_assets/evaluator/dash.png" height="97%" width="97%">

You can navigate to your course from the course selection menu in the top left
corner of the page, or by clicking on the course title in the Dashboard.

<img style="border:1px solid black" src="content_assets/evaluator/dash_classcircled.png" height="97%" width="97%">
<img style="border:1px solid black" src="content_assets/evaluator/dash_leftcornercircled.png" height="97%" width="97%">

The Dashboard also provides links to course projects and recently added videos,
which you can click to proceed directly to those pages.

<img style="border:1px solid black" src="content_assets/evaluator/dash_subcircled.png" height="97%" width="97%">


<p id="course"></p>

---

<p></p>

### Course View

When you enter a course, you will see the “Evaluations” grid featuring student
names aligned vertically down the left side and assignments aligned horizontally
across the top. (Group assignments can be seen in a similar grid by clicking
the **“Groups”** radio button above the list of student names.)

<img style="border:1px solid black" src="content_assets/evaluator/gridwarrow.png" height="97%" width="97%">

<p id="projects"></p>

---

<p></p>

### Creating Projects

<!-- CURRENT STOPPING POINT NOV 10 -->

To create a new assignment in your course, make sure you have clicked through to the Course View.
From there, click on the course name at the top of
the page, then click “Projects” located under "SETUP YOUR COURSE" in the expanded
menu that appears. 

<img style="border:1px solid black" src="content_assets/evaluator/create_proj.png" height="97%" width="97%">

Here you can
either edit existing projects (if you have them) by clicking the project name,
or you can create a new project by clicking the **“NEW PROJECT +”** button.

<img style="border:1px solid black" src="content_assets/evaluator/new_proj.png" height="97%" width="97%">

When creating a new project: give it a short name that distinguishes it from
other assignments in your course, write a brief description of the project in
the “Description” field, and select a rubric from the rubrics dropdown menu if
you are planning to score videos within Vocat.

<img style="border:1px solid black" src="content_assets/evaluator/proj_desc.png" height="97%" width="97%">

In the “Who can create a submission for this project?” dropdown menu, choose
“Individual” if it is an individual project, “Group” if it is a group project,
and “Both” if it could be either. This just determines whether the
project shows up in the “Students” grid or the “Groups” grid on the Evaluations
page.

<img style="border:1px solid black" src="content_assets/evaluator/ind_proj.png" height="97%" width="97%">

Next, select a due date (or presentation date if filmed in class), and click the
**“SAVE PROJECT”** button.

<img style="border:1px solid black" src="content_assets/evaluator/save_proj.png" height="97%" width="97%">

When you click "Evaluations" at the top of the page, you will now see this
assignment in the grid.

<img style="border:1px solid black" src="content_assets/evaluator/proj_proof.png" height="97%" width="97%">

<p id="groups"></p>

---

<p></p>

### Creating Groups

If you have group assignments, first make sure the project you’ve created has
been set to “Groups” or “Groups and Users” <a href="#projects">(see above
section)</a>. You can check this by clicking the Groups button above the list
of student names, and seeing if the assignment appears in the group Evaluations
grid.

To create new groups, go to **SETUP YOUR COURSE > Groups**.

<img style="border:1px solid black" src="content_assets/evaluator/setup_groups.png" height="97%" width="97%">    

Click the **“ADD GROUP +”** button to create a new group. It will automatically be
named “Group #1” but you can rename it by clicking the group title at the top of
the page. If you change group titles, be sure to click the “Update group name” button that appears below the text field.

<img style="border:1px solid black" src="content_assets/evaluator/add_group.png" height="97%" width="97%">
<img style="border:1px solid black" src="content_assets/evaluator/edit_group.png" height="97%" width="97%">

If you want to create random groups, simply click the the **“ADD GROUP +”** button
repeatedly until you’ve created the number of groups you want, then click the
**“AUTO ASSIGN TO GROUPS >”** button, and the class will be split up evenly into
those groups.

<img style="border:1px solid black" src="content_assets/evaluator/auto_group.png" height="97%" width="97%">

<p id="evaluations"></p>

---

<p></p>

### Evaluations

Clicking on the course you are managing in the menu at the top of the page will take you back to the
Evaluations grid. This grid pattern allows you to quickly see three things
about each assignment:

1.     Whether or not a video has been uploaded for a particular student,
denoted by a checkmark under the word **MEDIA**.
2.     The assignment grade (in percent), if given, underneath the word **SCORE**.
3.     Whether or not the score has been published so that the student can see it, illustrated
by a checkmark under the word **PUBLISHED**.

Clicking on any of these items will take you into the student’s video page for
that particular project.

<img style="border:1px solid black" src="content_assets/evaluator/evaluation.png" height="97%" width="97%">

<p id="videos"></p>

---

<p></p>

### Uploading Videos

From the Evaluations grid, click on the info-block (MEDIA/SCORE/PUBLISHED) corresponding to the
student and project that you want to upload a video for. This will take you to
that student’s page for that specific assignment. (For groups, do the same, but
in the Groups evaluation grid.)

You should see an empty, light-gray media frame with a button in the center that
reads: **ADD A VIDEO TO THIS SUBMISSION**. Click this button.

<img style="border:1px solid black" src="content_assets/evaluator/video_button.png" height="97%" width="97%">

This gives the creator the following options: **UPLOAD A VIDEO, ADD A YOUTUBE
VIDEO, ADD A VIMEO VIDEO,** and **BACK**.

<img style="border:1px solid black" src="content_assets/evaluator/vidscreen1.png" height="97%" width="97%">

1. Click the **UPLOAD A VIDEO** button
2. If the video is easily accessible on your desktop, you can simply click
on it with your mouse, hold, and drag into the box. <font color="red">(Note:
This feature only works in Google Chrome.)</font>
3. You can also click **DRAG AND DROP OR CLICK TO SELECT A VIDEO FILE**, and a
file system interface should appear, allowing you to select the video from the
folder in which you have it stored.
4. Once you select the video for upload, the upload process begins and you
will see a new button that says **Upload in progress**. <font color="red">It is important that you do not
close the browser tab or go to another web page while this is happening. </font>
You may work in other tabs or other programs, though.
5. When the file is done uploading from your computer, you will see a
notification telling you to check back in 5-10 minutes while the video
processes. At this point, you are free to exit the page or upload a video for
another student.

<img style="border:1px solid black" src="content_assets/evaluator/vidscreen2.png" height="97%" width="97%">

<img style="border:1px solid black" src="content_assets/evaluator/vidscreen3.png" height="97%" width="97%">

<p id="annotations"></p>

---

<p></p>

### Annotations

The annotation tool allows you to make specific comments about points in the
student’s presentation, and automatically logs the time in the video at which
the annotation is composed. When you see something you want to annotate during
playback, simply type the note in the text box that reads **“Enter a video
annotation…”** just below the video screen.

<img style="border:1px solid black" src="content_assets/evaluator/annotation.png" height="97%" width="97%">

The video will automatically pause when you begin typing, and will resume when
you press enter to submit the annotation. Students can also annotate their own
videos as a way of analyzing their performance.

<p id="scoring"></p>

---

<p></p>

### Scoring

Under the student’s video you will see the **“EVALUATIONS”** header and a gray hyperlink
that says **“Add Evaluation”**

<img style="border:1px solid black" src="content_assets/evaluator/evaluate1.png" height="97%" width="97%">

Clicking that hyperlink will expand the rubric to show sliders for each criteria.
You can either drag the sliders to the desired scores with your mouse, or click
the number on the right side and type in your scores. The meter at the top of
the rubric will automatically update with the total percentage score.

<img style="border:1px solid black" src="content_assets/evaluator/evaluate2.png" height="97%" width="97%">

You can save your evaluation at any time by clicking the **“Save Evaluation”**
button on the right side. The status icon to the lower right shows whether the rubric
is published or unpublished.

<img style="border:1px solid black" src="content_assets/evaluator/evaluate3.png" height="97%" width="97%">

By default, the score is unpublished, meaning it is not available to the
student. If you click the button next to the prompt that reads **“Visible To Student?”** it will change the
status to **“Published.”** (Changing the "No" to a "Yes")

<img style="border:1px solid black" src="content_assets/evaluator/evaluate4.png" height="97%" width="97%">

<p id="discussions"></p>

---

<p></p>

### Discussions

Students and instructors can also post comments in the discussion section,
which appears at the bottom of the video page. The commenting feature allows
you to post new comments or reply to existing ones, making it easy to follow
the flow of the discussion.

<img style="border:1px solid black" src="content_assets/evaluator/discussion.png" height="97%" width="97%"> 

<p id="settings"></p>

---

<p></p>

### Settings

<!-- STOPPED HERE 11-12 -->

If you select **Manage Course > Settings** from the menu at the top of the
course page, you can open up several visibility, discussion, and evaluation
options to your students.

* **“Enable public discussion”** allows everyone in the class to see each
other’s videos and comment on them. By default, students can only see their own
videos.
* **“Enable peer review”** allows students to see each other’s videos and grade
them on the rubric that is attached to the project (if there is one).
* **“Allow self-evaluation”** offers students the option of assessing their own
video on the rubric that is attached to the project.
* **“Allow creators to upload videos”** offers students the ability to upload
their own videos to the system. This means that you can create out-of-class
assignments and students can upload videos from their own computers.

<p id="rubrics"></p>

---

<p></p>

### Rubrics

To create or edit rubrics, click the **“My Rubrics”** link at the top of the page.
This brings you to a screen with rubrics you’ve created under the “YOUR RUBRICS”
header, as well as some system-wide rubrics under “VOCAT RUBRICS.”

If one of the system-wide rubrics is similar what you want, you can create an
editable version in your own rubric library by clicking the **“Select an Action”**
button to the right of the rubric name, then clicking **“Clone Rubric.”**

To create a rubric from scratch, click the **“New Rubric +”** button at the top
right corner of the page.

1. Give your rubric a name and brief description in the “Rubric Name” and
“Description” fields.
2. In “Lowest Possible Score” and “Highest Possible Score,” enter the lowest
and highest scores possible for ***each criteria you will be grading on***, not
the total score possible in the rubric.
3. Click the **“Add Criteria +”** button and enter the first item that you will
be assessing, then click the **“Save”** button. Repeat this step until all of
your criteria are entered.
  * Note: Vocat does not currently support weighted rubrics. As a workaround,
  you can create multiple criteria that are actually assessing the same thing.
  For example, if you have a 10-point rubric, you can make “Organization” worth
  30 points by creating three criteria: “Organization 1-10,”
  “Organization 11-20,” and “Organization 21-30.”
  * If a student scores 25 out of 30 on Organization, give them 10 out of 10 on
  the Organization 1-10 criteria, 10 out of 10 on Organization 11-20, and 5 out of
  10 on Organization 21-30.
4. Click the **“Add Range +”** button and enter a name for your lowest scoring
range, then repeat for the next lowest and so on, until you have entered all
your scoring ranges (poor, average, and excellent, for example). You can rename
a range or criteria at any time just by clicking on its name.
5. To edit the points that each scoring range encompasses, use the “RUBRIC
SCORE RANGES” slider above your list of criteria and ranges.
6. When you’ve completed your rubric, click the **“Save >”** button, and it
will show up in your rubric list.
